{% extends "base.html" %}
{% block content %}
{% load static %}
{% load recipe_custom_tags %}
<h1>レシピ検索</h1>
<p>使用する食材を選択してください</p>
<form  action="{% url 'recipe:search_by_ingredient_list' %}" method="get">
	<ul class="nav nav-tabs" role="tablist">
		{% for category in search_categories %}
			<li class="nav-item">
				<a class="nav-link category-tab {% if category.id == 1 %} active {% endif %} " id="category{{category.id}}-tab" data-toggle="tab" href="#category{{category.id}}" role="tab" aria-controls="category{{category.id}}" aria-selected="true">
					{{ category.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<div class="tab-content" id="app">
		{% for category in search_categories %}
			<div class="tab-pane fade {% if category.id == 1 %} show active {% endif %}" id="category{{category.id}}" role="tabpanel" aria-labelledby="category{{category.id}}-tab">
				<ul class="image_list">
					{% for ingredient in category.ingredients.all %}
						<li>
							<div class="image_box m-2">
								{% with imag_url=ingredient.name|ingredient_img_path mini_imag_url=ingredient.name|ingredient_mini_img_path %}
								<!--
								<div class="progressive image_box">
									<img class="preview lazy thumbnail" data-src="{% static imag_url %}" src="{% static mini_imag_url %}" alt="{{ingredient.name}}">
								</div>
							-->
							<!--
								<div class="progressive image_box">
									<img class="preview lazy thumbnail" data-src="{% static imag_url %}" src="{% static mini_imag_url %}" />
							  	</div>
							-->
								<div class="image_box progressive">
									<img class="thumbnail" src="{% static imag_url %}">
								</div>
								<div class="row">
									<div class="col-12">{{ ingredient.name }} </div>
								</div>
								<input class="disabled_checkbox" type="checkbox"  name="ingredients"  value="{{ingredient.id}}">
								{% endwith %}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
	<div class="btn-send-form" role="group" aria-label="Basic example">
  		<button type="submit" class="btn btn-danger">検索</button>
  		<button type="button" class="btn btn-outline-info" id="clear">クリア</button>
	</div>
</form>
{% endblock %}