{% extends "base.html" %} {% block content %}
<div class="file_input_and_image">
  <div class="file_input">
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-primary">
          写真を選択<input type="file" style="display: none" id="uploader" />
        </span>
      </label>
      <input type="text" class="form-control" readonly="" />
    </div>
  </div>
  <div class="ImageArea hidden">
    <div id="showPic"></div>
  </div>
</div>
<div class="resultArea hidden">
  <div class="no_food"></div>
  <h3 id="recognition_title">識別中．．．</h3>
  <div class="progress">
    <!--
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" id="progress-info" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">40%</div>
    -->
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" id="progress-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
    <!--
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" role="progressbar" id="engligh-search" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" role="progressbar" id="text-vision-api" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" role="progressbar" id="hiragana-conversion" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
    <div class="progress-bar progress-bar-striped hidden progress-bar-animated" role="progressbar" id="hiragana-search" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
    -->
  </div>
  <br>
  <form
    id="result_form"
    action="{% url 'recipe:search_by_ingredient_list' %}"
    method="get"
  >
    <div class="form-group" id="checkboxes">
      <!--ここに識別結果が入ります-->
    </div>
    <div class="hidden" id="recognition_to_search_button">
      <button class="btn btn-primary" type="submit">レシピを検索</button>
    </div>
  </form>
</div>
{% endblock %}
