<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- iPhone用にURLバーを表示しない設定を追加 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Django Recipe</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
     <!-- ↓iPhone用にアイコン設定を追加↓ -->
     <link rel="apple-touch-icon" href="{% static 'pwa/192.png' %}">
</head>
<body>
    {% for recipe in random_recipe_list %}
        {{ recipe.title }}
    {% endfor %}
</body>